# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env

# VSCode configs
.vscode/

# coverage reports
report.txt

# script logs
/script/log

# remappings.txt
remappings.txt
