# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Docs
# docs/

# Dotenv file
.env

# VSCode configs
.vscode/

# coverage reports
report.txt

# script logs
/script/logs/Deploy-*.json

# .DS_Store
.DS_Store

# config
config/
script/config/